body{
    background-size: cover;
}

.video{
    font-size: 30px;
    width:100%;
    margin-top: 0px;
}

.btn{
    font-size: 20px;
    border-radius: 10px;
}

input{
    width:15%;
}

.Copy_Footer{
    background-color: grey;
    bottom:0;
    font-size: 20px;
    text-align: center;
    color: white;
    position: fixed;
    width:100%
}

canvas{
    border-radius: 15px;
    border:2px solid white;
    box-shadow:5px 5px 5px white;
}